@import "tailwindcss";

@theme {
  --color-primary-background: #D9D9D9;
  --color-light-background: #ededed;
  --color-dark-background: #5E5E5E;
  --color-foreground-light: #FAFAFA;
  --color-foreground-grey: #565656;
  --color-dark-button: #7D7D7D;
  --color-light-border: #C1C1C1;
  --color-light-border-2: #DDDDDD;
  --color-foreground-light-2: #6B6B6B;
  --color-toggle-button: #747474;
  --color-check-button: #817D7D;
  --color-input-border: #9A9A9A;
  --color-input-border-2: #6C6C6C;
  --color-input-range: #C4C4C4;
}

body, html {
  margin: 0;
  font-family: Inter;
}