@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&family=Sora:wght@400;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sansation');

@keyframes customFadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: customFadeIn 0.8s ease-in-out;
}

:root {
  --dynamic-main-bg: #111110;
  --dynamic-secondary-bg: #111110;
  --dynamic-featured: #D3F138;

  --dynamic-primary-0: #D3F138;
  --dynamic-primary-0-text: #D3F138;
  --dynamic-primary-20: #687817;

  --dynamic-primary-0-button: #D3F138;
  --dynamic-gray-30-button: #BABCB6;
  --dynamic-gray-100-button: #111110;
  --dynamic-secondary-dark-button: #33322D;

  --dynamic-gray-0: #F5F5F5;
  --dynamic-gray-30: #BABCB6;
  --dynamic-gray-50: #949691;
  --dynamic-gray-80: #4D4E4C;
  --dynamic-gray-80-footer: #4D4E4C;
  --dynamic-gray-80-button: #4D4E4C;
  --dynamic-gray-90: #2E2E2C;
  --dynamic-gray-100: #111110;
  --dynamic-secondary-light: #EDE9D7;
  --dynamic-secondary-light-footer: #EDE9D7;
  --dynamic-secondary-dark: #33322D;
  --hero-gradient-heavy: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%, rgba(17,17,16,0.9) 100%);
  --hero-gradient-light: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%, rgba(17,17,16,0.4) 100%);
}

.light {
  --dynamic-main-bg: #EFEFEF;
  --dynamic-secondary-bg: #D3F138;
  --dynamic-featured: #5E5E5E;

  --dynamic-primary-0: #D3F138;
  --dynamic-primary-0-text: #111110;
  --dynamic-primary-20: #111110;

  --dynamic-primary-0-button: #D3F138;
  --dynamic-gray-30-button: black;
  --dynamic-gray-100-button: #33322D;
  --dynamic-secondary-dark-button: #EFEFEF;

  --dynamic-gray-0: #33322D;
  --dynamic-gray-30: #33322D;
  --dynamic-gray-50: #D3F138;
  --dynamic-gray-80: #C4C4C4;
  --dynamic-gray-80-footer: #4D4E4C;
  --dynamic-gray-80-button: #33322D;
  --dynamic-gray-90: #B0B0B0;
  --dynamic-gray-100: #EDE9D7;
  --dynamic-secondary-light: #70716D;
  --dynamic-secondary-light-footer: #33322D;
  --dynamic-secondary-dark: #D3F138;
  --hero-gradient-heavy: linear-gradient(180deg, rgba(69, 64, 64, 0.69) 0%, #EFEFEF 0%);
  --hero-gradient-light: linear-gradient(180deg, rgba(69, 64, 64, 0.30) 69%, #EFEFEF 100%);
}

@theme {
  --color-main-bg: var(--dynamic-main-bg);
  --color-secondary-bg: var(--dynamic-secondary-bg);
  --color-featured: var(--dynamic-featured);

  --color-primary-0: var(--dynamic-primary-0);
  --color-primary-0-text: var(--dynamic-primary-0-text);
  --color-primary-20: var(--dynamic-primary-20);

  --color-primary-0-button: var(--dynamic-primary-0-button);
  --color-gray-30-button: var(--dynamic-gray-30-button);
  --color-gray-100-button: var(--dynamic-gray-100-button);
  --color-secondary-dark-button: var(--dynamic-secondary-dark-button);

  --color-gray-0: var(--dynamic-gray-0);
  --color-gray-30: var(--dynamic-gray-30);
  --color-gray-50: var(--dynamic-gray-50);
  --color-gray-80: var(--dynamic-gray-80);
  --color-gray-80-footer: var(--dynamic-gray-80-footer);
  --color-gray-80-button: var(--dynamic-gray-80-button);
  --color-gray-90: var(--dynamic-gray-90);
  --color-gray-100: var(--dynamic-gray-100);
  --color-secondary-light: var(--dynamic-secondary-light);
  --color-secondary-light-footer: var(--dynamic-secondary-light-footer);
  --color-secondary-dark: var(--dynamic-secondary-dark);
  

  --font-sans: "Sora", sans-serif;
  --font-nunito: "Nunito", sans-serif;

  
  --color-primary-10: #AEC72C;
  
  
  
  
  
  
  --color-gray-70: #70716D;
  
  
  
  --color-gray-dark: #1E1E20;
  --color-signup-1: #9B9BA2;
  --color-signup-2: #D0D0D0;
  --color-signup-bg: #161617;
  --color-signup-input: #2E2E2C;
  --color-system-error: #BC1619;
  --color-system-info: #0057C9;
  --color-system-warning: #F98F04;
  --color-system-success: #71BE1B;
}

body, html {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}