@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sansation');

@keyframes customFadeIn {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: customFadeIn 0.8s ease-in-out;
}

@theme {
  --font-sans: "Sora", sans-serif;
  --font-nunito: "Nunito", sans-serif;

  --color-primary-background-dark: #151412;
  --color-footer-background: #2A2A2A;
  --color-primary-0: #D3F138;
  --color-primary-10: #AEC72C;
  --color-primary-20: #687817;
  --color-secondary-dark: #33322D;
  --color-secondary-light: #EDE9D7;
  --color-gray-0: #F5F5F5;
  --color-gray-30: #BABCB6;
  --color-gray-50: #949691;
  --color-gray-70: #70716D;
  --color-gray-80: #4D4E4C;
  --color-gray-90: #2E2E2C;
  --color-gray-100: #111110;
  --color-gray-dark: #1E1E20;
  --color-signup-1: #9B9BA2;
  --color-signup-2: #D0D0D0;
  --color-signup-bg: #161617;
  --color-signup-input: #2E2E2C;
  --color-system-error: #BC1619;
  --color-system-info: #0057C9;
  --color-system-warning: #F98F04;
  --color-system-success: #71BE1B;
}

body, html {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}